In [2]:
import pandas as pd
import numpy as np

In [86]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
matches=pd.read_csv('matches.csv')
deliveries=pd.read_csv('deliveries.csv')

In [ ]:
matches.sample(5)

In [7]:
from pandas_profiling import ProfileReport

/var/folders/ct/586vcml54jgf9dlg8gh73lq40000gn/T/ipykernel_8775/2274191625.py:1: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

In [23]:
ProfileReport(matches, title='IPL Matches Report', explorative=True).to_file("matches_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [24]:
ProfileReport(deliveries, title='IPL Deliveries Report', explorative=True).to_file("deliveries_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# data cleaning for matches

In [13]:
matches.drop(['id'],axis=1,inplace=True)

In [14]:
matches_per_season=matches.season.value_counts()

- this is filling the city name from venue

In [36]:
matches['city'].fillna(matches[matches['city'].isna()]['venue'].apply(lambda x: x.split()[0]),inplace=True)

In [26]:
matches.drop(columns=['method'],inplace=True)

In [29]:
matches.drop(columns=['super_over'],inplace=True)

In [5]:
matches.isna().sum()

season             0
city               0
date               0
match_type         0
player_of_match    0
venue              0
team1              0
team2              0
toss_winner        0
toss_decision      0
winner             0
result             0
result_margin      0
target_runs        0
target_overs       0
umpire1            0
umpire2            0
dtype: int64

In [43]:
matches['player_of_match'].fillna('No player',inplace=True)

In [45]:
matches['winner'].fillna('No winner',inplace=True)

/var/folders/ct/586vcml54jgf9dlg8gh73lq40000gn/T/ipykernel_90542/3169814262.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  matches['winner'].fillna('No winner',inplace=True)

In [47]:
matches['target_runs'].fillna(0,inplace=True)
matches['target_overs'].fillna(0,inplace=True)

/var/folders/ct/586vcml54jgf9dlg8gh73lq40000gn/T/ipykernel_90542/3114644442.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  matches['target_runs'].fillna(0,inplace=True)
/var/folders/ct/586vcml54jgf9dlg8gh73lq40000gn/T/ipykernel_90542/3114644442.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  matches['target_overs'].fillna(0,inplace=True)

In [50]:
matches['result_margin'].fillna(-1,inplace=True)

/var/folders/ct/586vcml54jgf9dlg8gh73lq40000gn/T/ipykernel_90542/3944942953.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  matches['result_margin'].fillna(-1,inplace=True)

In [51]:
matches.to_csv('matches.csv',index=False)

# Data Cleaning for Deliveries

In [20]:
deliveries.isna().sum()

match_id            0
inning              0
batting_team        0
bowling_team        0
over                0
ball                0
batter              0
bowler              0
non_striker         0
batsman_runs        0
extra_runs          0
total_runs          0
is_wicket           0
player_dismissed    0
dismissal_kind      0
fielder             0
dtype: int64

In [15]:
deliveries.sample(5)

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,is_wicket,player_dismissed,dismissal_kind,fielder
196010,1254067,2,Kolkata Knight Riders,Royal Challengers Bangalore,11,2,EJG Morgan,HV Patel,Shakib Al Hasan,0,0,0,0,NaN,NaN,NaN
154053,1136576,1,Kings XI Punjab,Sunrisers Hyderabad,12,2,KK Nair,CJ Jordan,CH Gayle,1,0,1,0,NaN,NaN,NaN
165894,1175360,2,Chennai Super Kings,Delhi Capitals,11,1,MS Dhoni,KMA Paul,KM Jadhav,0,0,0,0,NaN,NaN,NaN
165119,1175357,2,Kolkata Knight Riders,Sunrisers Hyderabad,6,1,N Rana,S Kaul,RV Uthappa,0,0,0,0,NaN,NaN,NaN
74639,548374,2,Delhi Daredevils,Kings XI Punjab,15,2,DPMD Jayawardene,P Awana,Y Venugopal Rao,0,0,0,0,NaN,NaN,NaN

In [14]:
deliveries.drop(columns=['extras_type'],inplace=True)

In [19]:
deliveries['player_dismissed'].fillna('No dismissal',inplace=True)
deliveries['dismissal_kind'].fillna('No dismissal',inplace=True)
deliveries['fielder'].fillna('No fielder',inplace=True)

/var/folders/ct/586vcml54jgf9dlg8gh73lq40000gn/T/ipykernel_8775/2626853015.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  deliveries['dismissal_kind'].fillna('No dismissal',inplace=True)

In [16]:
deliveries[~deliveries['fielder'].isna()]

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,is_wicket,player_dismissed,dismissal_kind,fielder
33,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,5,2,SC Ganguly,Z Khan,BB McCullum,0,0,0,1,SC Ganguly,caught,JH Kallis
74,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,12,1,RT Ponting,JH Kallis,BB McCullum,0,0,0,1,RT Ponting,caught,P Kumar
106,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,17,1,DJ Hussey,AA Noffke,BB McCullum,0,0,0,1,DJ Hussey,caught,CL White
154,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,4,5,JH Kallis,AB Agarkar,W Jaffer,0,0,0,1,JH Kallis,caught,M Kartik
157,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,5,2,W Jaffer,AB Dinda,CL White,0,0,0,1,W Jaffer,caught,RT Ponting
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260802,1426312,1,Sunrisers Hyderabad,Kolkata Knight Riders,10,2,AK Markram,AD Russell,H Klaasen,0,0,0,1,AK Markram,caught,MA Starc
260811,1426312,1,Sunrisers Hyderabad,Kolkata Knight Riders,11,5,Shahbaz Ahmed,CV Varun,H Klaasen,0,0,0,1,Shahbaz Ahmed,caught,SP Narine
260817,1426312,1,Sunrisers Hyderabad,Kolkata Knight Riders,12,5,Abdul Samad,AD Russell,H Klaasen,0,0,0,1,Abdul Samad,caught,Rahmanullah Gurbaz
260852,1426312,1,Sunrisers Hyderabad,Kolkata Knight Riders,18,3,PJ Cummins,AD Russell,B Kumar,0,0,0,1,PJ Cummins,caught,MA Starc
260861,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,1,2,SP Narine,PJ Cummins,Rahmanullah Gurbaz,0,0,0,1,SP Narine,caught,Shahbaz Ahmed

In [21]:
deliveries.to_csv('deliveries.csv',index=False)

# Encoding of Data

In [27]:
from sklearn.preprocessing import OrdinalEncoder

In [54]:
matches['match_type'].value_counts()

match_type
League        1029
Qualifier       28
Eliminator      21
Final           17
Name: count, dtype: int64

In [53]:
matches.loc[matches['match_type'] == 'Qualifier 1', 'match_type'] = 'Qualifier'
matches.loc[matches['match_type'] == 'Qualifier 2', 'match_type'] = 'Qualifier'

In [42]:
matches.loc[matches['match_type'] == 'Elimination Final', 'match_type'] = 'Eliminator'

In [57]:
matches.loc[matches['match_type']=='Semi Final', 'match_type']='Eliminator'
matches.loc[matches['match_type']=='3rd Place Play-Off', 'match_type']='Eliminator'

In [32]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import make_pipeline

In [59]:
matches.drop(columns=['city'],inplace=True)

In [61]:
from sklearn.preprocessing import OneHotEncoder

In [68]:
from sklearn.preprocessing import LabelEncoder

In [76]:
toss_decision_encoder=LabelEncoder()
result_encoder=LabelEncoder()
team_encoder=OneHotEncoder(sparse_output=False)
target_runs_encoder=LabelEncoder()
target_overs_encoder=LabelEncoder()
match_type_encoder=OrdinalEncoder(categories=[['League','Eliminator','Quilifier','Final']])

In [ ]:
columnTransformer=ColumnTransformer([('match_type',match_type_encoder,['match_type']),
                                    ['team',team_encoder,['team1','team2','toss_winner','winner']],
                                    ['toss_decision',toss_decision_encoder,['toss_decision']],
                                    ['result',result_encoder,['result']],
                                    ['target_runs',target_runs_encoder,['target_runs']],
                                    ['target_overs',target_overs_encoder,['target_overs']]
                                    ],remainder='passthrough')

In [79]:
matches.drop(columns=['3rd Place Play-Off'],inplace=True)

In [82]:
matches

,season,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,umpire1,umpire2
0,2007/08,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,Asad Rauf,RE Koertzen
1,2007/08,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,MR Benson,SL Shastri
2,2007/08,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,Aleem Dar,GA Pratapkumar
3,2007/08,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,SJ Davis,DJ Harper
4,2007/08,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,2024,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,Nitin Menon,VK Sharma
1091,2024,2024-05-21,Qualifier,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,AK Chaudhary,R Pandit
1092,2024,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,173.0,20.0,KN Ananthapadmanabhan,MV Saidharshan Kumar
1093,2024,2024-05-24,Qualifier,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,Nitin Menon,VK Sharma
1094,2024,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,J Madanagopal,Nitin Menon

In [97]:
matches.to_csv('matches_cleaned.csv',index=False)